.App {
}

.work-duration {
  font-size: 12em;
  font-style: bold;
}
.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 30% auto 30%;
  grid-template-areas: 'sessions . .' '. work .' 'break . .'
}
.sessions {
  grid-area: sessions;
  padding: 5px;
}

.work {
  place-self: center;
  grid-area: work;
}

.break {
  grid-area: break;
  padding: 10px;
}