.timer-display {
  font-size: 10em;
  font-style: bold;
}
.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 30% auto 30%;
  grid-template-areas: 'sessions . .' '. timer .' 'break . work'
}
.sessions {
  grid-area: sessions;
  padding: 5px;
}

.timer {
  place-self: center;
  grid-area: timer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.break {
  grid-area: break;
  padding: 10px;
}

.work-duration {
  grid-area: work;
  padding: 10px;
}

.control-buttons {
  padding: 10px;
  position: relative;
  bottom: 150px;
}